{% extends 'base.html' %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" />
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Rating</th>
        <th scope="col">Best Selling</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      
        <tr>
          <th scope="row"> <a href=" {% url "book_details" book.id %} ">
            {{ book.id }}
          </a>
          </th>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.rating }}</td>
          <td>
            <div class="form-check">
              <input disabled class="form-check-input" type="checkbox" value="" checked="{{ book.is_bestselling }}" id="flexCheckDefault" />
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
